body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.s-logo{
color:#2e2f42;
}

.header a:hover, .header a:focus{
   color: #404bbf; 

}
.header .h-adress{
    font-style:normal ;
}
.header .h-adress-a{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.logo:hover, .logo:focus{
    color: #404bbf 
}
.header .h-list-a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42
}

.header.h-list-a:hover {
    color: #404bbf;
}

.header.h-list-a:focus {
 color: #404bbf;
}
.effective {
  background-color: #2e2f42;
  font-weight: bold;
  font-size: 56px;
  color: white;
  text-align: center;
}
.effective .e-header {
  font-size: 56px;
  letter-spacing: 0.02em;

  line-height: 1.07;
}
.effective > button {
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

 .button:focus{
        background-color:#404BBF; }
        button:hover {
            background-color: #404BBF;
        }

.digital .d-header {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.digital .d-paragraf {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  font-family: "Raleway", serif;
}
.team .t-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
 
}

.team .t-list {
  background-color: #ffffff;
}
.team .t-listheader {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team .t-listparagraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio .p-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio .p-headertwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio .p-paragraf {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}

.footer .s-logo{
    color :#f4f4fd;
}
.footer .f-paragraf {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
} 